body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll; 
}

.bg-image-top {
  background-image: url('./images/backgroundImage1.png');
  height: 824px;
  max-width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header ul {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav img {
  margin-top: 10px;
}

.bg-image-top img {
  width: 40px;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 60px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}

/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: black;
  transition: all 0.5s ease-out;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-links a {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #f7fafc;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}


.menu-btn {
  visibility: hidden;
}

/* Middle section  */

.bg-image-middle {
  background-image: url('./images/bg-image-2.jpg');
  height: 904px;
  max-width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-links-colored {
  display: flex;
  justify-content: flex-end;
}

.nav-links-colored a {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #3f4f6c;
  font-size: 14px;
}

.history-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  
}

.title-container {
  padding: 0;
  margin: 0;
}

.title-container div {
  font-size: 145px;
  color: #6d7f9b;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding-bottom: 0;
  font-weight: 900;
}

.title-container span {
  color: #3f4f6c;
  font-size: 30px;
  line-height: 10px;
  height: 124px;
  vertical-align: middle;
  margin-left: -27px;
}

.history-text {
  margin: 0;
  padding: 0;
  width: 95%;
  position: relative;
  left: 76px;
  line-height: 26px;
  font-family: sans-serif;
  font-weight: 100;
}

.image-carosel-container {
  max-width: 1600px;
  height: 195px;
  width: 100%;
  vertical-align: baseline;
  background: rgb(60, 74, 99, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slidercontainer {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1600px;
}

.showSlide {  
  display: none  
}  
.showSlide img {  
  width: 218px;
  height: 133px;
  margin-right: 10px;
}  

.left, .right {  
  cursor: pointer;  
  position: absolute;  
  top: 50%;  
  width: auto;  
  padding: 16px;  
  margin-top: -22px;  
  color: black;  
  font-weight: bold;  
  font-size: 24px;  
  transition: 0.6s ease;  
  border-radius: 0 3px 3px 0;  
}  
.right {  
  right: 0;  
  border-radius: 3px 0 0 3px;  
}  
  .left:hover, .right:hover {  
      background-color: rgba(115, 115, 115, 0.8);  
  }  

ol{
  list-style: none;
  width:100%;
}
.dot{
  background: #888;
  border-radius: 50%;
  display: inline-block;
  width:5px;
  height:5px;
  cursor: pointer;
  color: #333;
} 

.dots {
  display: flex;
  justify-content: center;
}

.dots ol {
  margin: 0;
  padding: 0;
}

.dots ol li.active {
  border: 1px solid white;
}
/* Fading animation */  
.fade {  
  -webkit-animation-name: fade;  
  -webkit-animation-duration: 2.5s;  
  animation-name: fade;  
  animation-duration: 2.5s;  
}  
@-webkit-keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
}  

@keyframes fade {  
  from {  
      opacity: .4  
  }  
  to {  
      opacity: 1  
  }  
}  

/* bottom section */

.team-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 64%;
  height: 180px;
}

.team-content .title-container div {
  color: #afb4be;
}

.team-text {
  display: inline-block;
  padding-top: 72px;
  padding-left: 30px;
  line-height: 26px;
  font-family: sans-serif;
  font-weight: 100;
}

.mountain-tab-container {
  width: 100%;
  height: 40px;
  background-color: #3c4a63;
}

.mountain-tab-container ol {
  display: flex;
  align-items: center;
  margin-left: 13%;
}

.mountain-tab-container ol li {
  height: 40px;
  padding-bottom: 0;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color:  #afb4be;
}

.mountain-tab-container .active {  
  background-color: #afb4be;
  color: #404f6c;
  text-decoration: underline;
}

.bg-imgage-bottom {
  background-image: url('./images/bg-image-bottom.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 545px;
}

.schedule {
  position: relative;
  left: 290px;
  top: 100px;
  width: 350px;
  height: 230px;
  background-color: rgb(255,255,255, 0.7);
}

.schedule span {
  margin-left: 36px;
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  color: #404f6c;
}

table, th, td {
  border-collapse: collapse;
  margin-left: 36px;
  /* margin-right: 36px; */
  margin-top: 0px;
  margin-bottom: 36px;
}

th, td {
  padding-right: 45px;
  text-align: left;
  font-family: sans-serif;
  font-weight: 100;   
}

table tr:nth-child(3) {
  line-height: 5.5;
}

/* footer */
footer {
  width: 100%;
  height: 75px;
  background-color: #404f6c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer span {
  font-size: 13px;
  color: #526387;
}

footer img {
  height: 40px;
  width: 162px
}

/* media queries */

@media only screen and (max-width: 950px) {
  .showSlide img {
    width: 150px;
    height: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .team-content {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .team-text {
    margin: 0;
    padding: 0;
  }

  .schedule {
    left: 100px;
  }

  .showSlide img {
    width: 120px;
    height: 80px;
  }
}

@media only screen and (max-width: 500px) {
  .menu-btn {
    visibility: visible;
    cursor: pointer;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    width: 100%;
    visibility: hidden;
    padding: 0;
  }

  .nav-links a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    padding-top: 53px;
  }

  .nav-links.show {
    visibility: visible;
  }

  .hero.show {
    margin-top: 200px;
    transition-duration: 0.8s;
    transition-property: margin-top;
  }

  .hero.close {
    transition-duration: 0.5s;
  }

  /* Adding a transition delay to the items in the navigation menu */
  .nav-item:nth-child(1) {
    transition-delay: 0.01s;
    text-align: center;
  }

  .nav-item:nth-child(2) {
    transition-delay: 0.02s;
  }

  .nav-item:nth-child(3) {
    transition-delay: 0.03s;
  }

  .footer-container-contact {
    display: none;
  }

  .schedule {
    left: 10px;
  }

  .showSlide img {
    width: 100px;
    height: 60px;
  }

}

