.menu-btn-middle {
  position: absolute;
  z-index: 3;
  right: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  padding-top: 10px;
  display: none;
}

.menu-btn-middle.close {
  transform: rotate(180deg);
}

/* Styling the three lines to make it an X */
.menu-btn-middle.close .btn-line-middle:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn-middle.close .btn-line-middle:nth-child(2) {
  opacity: 0;
}

.menu-btn-middle.close .btn-line-middle:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu-btn-middle .btn-line-middle {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: black;
  transition: all 0.5s ease-out;
}

.middle-section {
  display: flex;
  justify-content: space-around;
  width: 100%
}
.nav-links-colored {
  display: flex;
  justify-content: flex-end;
}

.nav-links-colored a {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #3f4f6c;
  font-size: 14px;
}

.second-accordion {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


@media only screen and (max-width: 660px) {
  .menu-btn-middle {
    display: block;
    cursor: pointer;
  }

  .nav-links-colored {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    padding: 0;
    margin-top: 80px
  }

  .nav-links-colored a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
  }

  .middle-nav {
    justify-content: space-between;
  }

  .nav-links-colored.show {
    display: block;
  }

  .middle-section {
    justify-content: space-between;
  }

  .second-accordion {
    justify-content: space-between;
  }

  /* Adding a transition delay to the items in the navigation menu */
  .nav-item-middle:nth-child(1) {
    transition-delay: 0.01s;
    text-align: center;
  }

  .nav-item-middle:nth-child(2) {
    transition-delay: 0.02s;
  }

}